.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	margin-left: 1rem;
}
.logo a {
	text-decoration: none;
}

nav a {
	margin-right: 1rem;
}

/* error explanation */
#error_explanation {
	color: red;
}
#error_explanation ul {
    border: 1px solid red;
}